- content_for :javascripts do
  = javascript_include_tag 'admin'

- content_for :stylesheets do
  = stylesheet_link_tag 'admin', media: 'all'

- content_for :content do
  .row
    %main.column.medium-9.medium-push-3{role: 'main'}
      = yield

    %aside.column.medium-3.medium-pull-9{role: 'complementary'}
      = render 'layouts/admin/sidebar'

= render template: "layouts/application"
