= simple_form_for [:admin, @user], wrapper: "horizontal_form", url: url do |f|
  .row
    .column.medium-7
      = f.input :email
      = f.input :password, hint: "Minimum is #{Rails.configuration.devise.password_length.min} characters"

      .row.form-actions
        .column.small-offset-3
          = f.button :submit
          %span.or or
          = link_to "Cancel", admin_admins_path
