.row
  .column.medium-4.medium-offset-2
    %h2 Sign in

    = simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "authentication-form" }) do |f|
      %fieldset
        = f.input :email, autofocus: true
        = f.input :password, autocomplete: "off"
        - if devise_mapping.rememberable?
          = f.input :remember_me, as: :boolean
        = f.button :submit, "Sign in", class: "button"

    = render "devise/shared/links"

  - if Rails.application.config.should_show_easy_login
    .column.medium-5.medium-offset-1
      %hr.hide-for-medium
      .easy-sign-in
        %h3 Easy Sign-in
        %ul
          - User.roles.keys.each do |role_name|
            %li= link_to "Sign in as #{role_name.titleize}", '#', data: { email: "#{role_name}@example.com", password: "password" }
